<!DOCTYPE html>
<html lang="en">
<header>
    <img src="black-logo-main.jpeg" class="rounded float-start" alt="black logo" style="width:128px;height:128px;">
    <nav>

    </nav>
</header>
<body>
<a href="index.html"> <button class="log button" type="button">Home</button></a>
<div>
    <h1 style="font-size:2vw">
        Welcome
    </h1>
    <h2 style="font-size:1.5vw">
     Use the following form to create your employer account:
    </h2>
    <form action="">
        <label for="Cname">Contact Name:</label>
        <input type="text" id="Cname">
        <br>
        <br>
        <label for="CEmail">Contact Email:</label>
        <input type="email" id="CEmail">
        <br>
        <br>
        <label for="CPhone">Phone Number:</label>
        <input type="tel" id="CPhone">
        <br>
        <br>
        <label for="pass">Create Password:</label>
        <input type="password" id="pass">
        <br>
        <br>
        <label for="CpostalCode">Postal Code:</label>
        <input type="text" id="CpostalCode">
        <br>
        <br>
        <input type="submit" value="Submit">
        <button class="log button" type="reset">Reset</button>
    </form>
    <br>
    <a href="createPlacement.html"><button class="log button" type="button">Create Placement</button> </a>
</div>
</body>
<footer>

</footer>
</html>