<!DOCTYPE html>
<html lang="en">
<head>
    <img src="black-logo-main.jpeg" class="rounded float-start" alt="black logo" style="width:128px;height:128px;">
    <nav>

    </nav>
</head>
<body>
<a href="index.html"> <button class="log button" type="button">Home</button></a>
<a href="createEmployer.html"> <button class="log button" type="button">Back</button> </a>
<div>
    <h1 style="font-size:2vw">
      Welcome
     </h1>
    <h2 style="font-size:1.5vw">
        Use the following form to provide placement details:
    </h2>
    <form action="">
        <label for="Pdetails">Placement Details:</label>
        <br>
        <textarea id="Pdetails"></textarea>
        <br>
        <br>
        <p>Skills needed for placement:</p>
        <input type="checkbox" id="Pskill1" name="skill1">
        <input type="checkbox" id="Pskill2" name="skill2">
        <br>
        <br>
        <label for="salary">Salary:</label>
        <input type="text" id="salary">
        <br>
        <br>
        <label for="PLocation">Placement Location:</label>
        <select name="location" id="PLocation">
            <option value="london">London</option>
            <option value="manchester">Manchester</option>
            <option value="salford">Salford</option>
        </select>
        <br>
        <br>
        <p>Start to End Date:</p>
        <label for="startDate">Start:</label>
        <input type="date" id="startDate">
        <label for="endDate">End:</label>
        <input type="date" id="endDate">
        <br>
        <br>
        <input type="submit" value="Submit">
        <button class="log button" type="reset">Reset</button>
    </form>
</div>
</body>
<footer>

</footer>
</html>