<!DOCTYPE html>
<html lang="en">
<header>
<img src="black-logo-main.jpeg" class="rounded float-start" alt="black logo" style="width:128px;height:128px;">
<nav>
 <p>Hello testing</p>
</nav>
</header>
<body>
<a href="logIn.html"> <button class="log button" type="button">Log in</button> </a>
<a href="createEmployer.html"><button class="log button" type="button">Create Account</button> </a>
<h1 style="font-size:2vw">
    Welcome to BCS placement
</h1>
<div>
    <p style="font-size:1.5vw">
        Placements offer invaluable advantages to both students and employers. For students, these opportunities provide real-world experience, enabling them to apply theoretical knowledge in practical settings, fostering skill development and enhancing their understanding of industry practices. They gain exposure to professional environments, network with professionals, and often secure future job prospects. Simultaneously, employers benefit from fresh perspectives, innovative ideas, and a potential pipeline of talented individuals. Placements allow companies to assess potential employees' skills and work ethic firsthand, reducing hiring risks while infusing teams with motivated and enthusiastic talent. Overall, placements create a win-win situation, nurturing talent while meeting the needs of businesses.
    </p>
</div>
</body>
</html>
