<!DOCTYPE html>
<html lang="en">
<header>
    <img src="black-logo-main.jpeg" class="rounded float-start" alt="black logo" style="width:128px;height:128px;">
    <nav>

    </nav>
</header>
<body>
<a href="index.html"> <button class="log button" type="button">Home</button></a>
<h1 style="font-size:2vw">
    Welcome to BCS placement
</h1>
<div>
    <p style="font-size:1.5vw">
    Log in:
    </p>
    <form action="">
        <label for="email">Email:</label>
        <input type="email" id="email">
        <br>
        <br>
        <label for="pass">Password</label>
        <input type="password" id="pass">
        <br>
        <br>
        <input type="submit" value="Submit">
        <a href="createEmployer.html"><button class="log button" type="button">Create Account</button></a>

    </form>
</div>
</body>
<footer>

</footer>
</html>